.select {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 12px;
  appearance: none;
  margin-left: 12px;
}

.select option {
  background-color: grey;
  color: white;
}

/* Styling for when the select element is disabled */
.select:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.book-text-box {
  width: 150%; /* Full width */
  max-width: 1200px; /* Limit maximum width for larger screens */
  height: 1000px; /* Adjust height based on content */
  margin: 10px auto; /* Center horizontally */
  position: relative; /* Required for absolute positioning */
  overflow: hidden; /* Prevent any overflow */
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0); /* Shadow effect for depth */
}

.book-text-box::before,
.book-text-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain; /* Ensure the image is fully visible */
}

.book-text-box::before {
  background-image: url("../../images/wood.png");
  opacity: 0.8; /* Adjust transparency for text visibility */
  width: 110%;
  margin-top: -2%;
  height: 110%;
  background-size: 120% 100%; /* Zoom out the wood image */
  background-position: center 0; /* Keep the image centered */
  transition: background-size 1.3s ease, background-position 1.3s ease;
  margin-left: 0.1%;
  z-index: -1;

}

.book-text-box::after {
  top: 85px; /* Adjust margin from the top */
  left: 150px;
  transform: rotate(-5deg); /* Optional tilt for a dynamic look */
  mix-blend-mode: multiply; /* Darkens the background for image visibility */
  position: absolute;
  width: 30%;
  height: 35%;
  
  z-index: -1;
}

.book-inner {
  position: relative;
  max-height: 30%;
  padding: 100px 50px; /* Reduced padding for better spacing */
  margin-top: 220px; /* Top margin adjustment */
  margin-bottom: 80px; /* Adjusted bottom margin to remove excess space */
  left: 27%; /* Center the text box */
  width: 55%; /* Ensure it stays within the container */
}

.recipe-text {
  max-height: fit-content;
  font-family: "Great Vibes", cursive;
  font-size: 17px;
  line-height: 1.0;
  color: white; /* Maintain contrast with the background */
  
}

.whitespace-pre-wrap {
  white-space: pre-wrap; /* Preserve whitespace and wrap text correctly */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .book-inner {
    padding: 50px 20px;
    width: 90%;
    left: auto; /* Remove the manual centering */
    margin: 0 auto; /* Automatically center */
  }

  .book-text-box::before {
    background-size: 100% 100%; /* Further adjust for smaller screens */
  }
}
